body{
    color: white;
    font-family: 'Open Sans', sans-serif;

    a{
        color:white;
        font-weight: lighter;
    }

    a:hover{
        color:red;
    }

    .pill{
        font-weight: lighter;
    }
    // H E A D E R --------------------------------------------------------------------------------------------------- 
    #header{
    background-image: url(images/header-banner.jpg);
    background-size: cover;
    height: 100vh;


    }

    // N O M B E R --------------------------------------------------------------------------------------------------- 
    #nomber{
        .Nomber{
        width:75px;
        height:75px;
        background-image: url("images/sprite-home.png");
        }

    }

    // W H A T I S --------------------------------------------------------------------------------------------------- 
    #whatis{

    }

    // S Y M P T O M S ----------------------------------------------------------------------------------------------- 
    #symptoms{
        .Symptoms{
            width:100px;
            height:100px;
            border-radius: 100%;
            border: 1px dashed black;
            background-image: url("images/sprite-home-v3.png");
        }
    }

    // P R O T E C T U  ---------------------------------------------------------------------------------------------- 
    #protectu{
        .Protectu{
            width: 75px;
            height: 75px;
            border-radius: 100%;
            border: 1px solid black;
            background-image: url("images/sprite-home-v3.png")
        }
    }

    // S U B S C R I V E --------------------------------------------------------------------------------------------- 
    #subscrive{

    }

    // A S K E D ------------------------------------------------------------------------------------------------------ 
    #asked{

    }

    // D O C T O R --------------------------------------------------------------------------------------------------- 
    #doctor{

    }

    // L A S T E D -------------------------------------------------------------------------------------------------- 
    #lasted{

    }

    // F O O T E R --------------------------------------------------------------------------------------------------- 
    #footer{

    }
}
